# Large raw data
data/                  # everything under data/
notebooks/models       # Removes all the models I made
__pycache__/


# Model checkpoints & other binary weights
*.pth                 # PyTorch
*.pt                  # alternate extension
*.h5 *.ckpt           # Keras / Lightning

# Any oversize tab-separated datasets
*.tsv
*.mp3
*.wav
*.pyc
